/* to the body element */
.noscroll { overflow: hidden; }

@media (min-device-width: 1025px) {
  .noscroll { 
      padding-right: 15px;
  }
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */    
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.95); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    overflow-y: scroll;
}

/* Position the content inside the overlay */
.overlay-content {
    position: absolute;
    top: 3%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    overflow-y: scroll;
}

.overlay-font{
    font-size: 13pt;
    color:  whitesmoke;
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 60px;
    z-index: 3;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 0px;
        right: 10px;
        z-index: 2;
    }
}
[aria-hidden="true"] {    
    transition: opacity 1s, z-index 0s 1s;
    width: 100vw;
    z-index: -1; 
    opacity: 0;  }
  
  [aria-hidden="false"] {  
    transition: opacity 1s;
    width: 100%; 
    z-index: 1;  
    opacity: 1; 
  }

h2 {
    font-size: 22px;
    word-break: break-word;
}
.hanging-close {
    position: absolute;
    top: -12px;
    right: -12px;
    z-index: 9001;
}
.movie-tile {
    margin-bottom: 20px;
    padding-top: 20px;
}
.movie-tile:hover {
    background-color: #EEE;
    cursor: pointer;
}

/* .movie-content {
} */

.movie-title {
    /* background: blueviolet; */
    /* margin-top: 3%; */
    text-align: left;
    font-size: 25pt;
    color: white;
}

.movie-description {
    text-align: left;
    font-size: 15pt;
    color: ghostwhite;
}

.movie-subtitle {
    text-align: left;
    font-size: 20pt;
}

.movie-info {
    text-align: left;
    font-size: 15pt;
    color: darkgrey;
}